body{
    font: Times New Roman;
    background-color: #FFFFFF;
}       
.heading {
  color : #FFFFFF;
  background-color: #53a7ea;
  height: 50px;
  width: 100%;
  top : 0px;
  position: fixed;
  padding: 10px;
  padding-top: 10px;
  font-variant: normal;
  text-align: center;
  vertical-align: middle;
  font-size: x-large;
  font-weight: bold;
  font-style: oblique;
  float: top;
}
#nav {
  list-style-type: none;
  position: fixed;
  width: 100%;
  margin: 0px;
  padding-left: 100;
  overflow: hidden;
  background-color: #53a7ea;
  margin-top: -50px;
}
.title{
  margin-top: 150px;
}
#nav li {
  float:left;
}

#nav li a {
  display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
}
#nav li a:hover {
  background-color: grey;
}
.column {
  float:left;
  width: 20%;
  height: 20%;
  padding: 10px;
  margin: 10px;
  background-color: #ccc;
  text-align: center;
  transition: 0.3s;
}
.column:hover{
    opacity: 0.5;
}
.footer {
  background-color: #53a7ea;
  color: #fff;
  float:left;
  width: 100%;
  height: 70px;
  text-align: center;
  
}
    .main {
        background-color: #e0ffff;
        width: 400px;
        height: 400px;
        margin: 7em auto;
        border-radius: 1.5em;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    }
    
    
.sign {
        padding-top: 40px;
        color: #53a7ea;
        font-family: Times New Roman;
        font-weight: bold;
        font-size: 23px;
}
    
    .username {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
    }
    
    form.form {
        padding-top: 40px;
    }
    
    .password {
            width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
    }
    
   
    .username:focus, .password:focus {
        border: 3px solid rgba(0, 0, 0, 0.18);
        
    }
    
    .submitInstructor {
      cursor: pointer;
        border-radius: 5em;
        color: #fff;
        background: #53a7ea;
        border: 0;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-family: 'Ubuntu', sans-serif;
        margin-left: 10%;
        font-size: 13px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    }
    .submitStudent {
      cursor: pointer;
        border-radius: 5em;
        color: #fff;
        background: #53a7ea;
        border: 0;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-family: 'Ubuntu', sans-serif;
        margin-left: 10%;
        font-size: 13px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    }

    a {
        text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        color: #53a7ea;
        text-decoration: none
    }

@media screen and (max-width: 600px) {
  .column {
    width: 50%;
    float: right;
  }
  .projected{
    text-align: right;
  }

#nav{
height: 100%;
  width: 100px; 
  position: fixed;
  top: 50px;
  left: 0;
  float: left;
  background-color: #53a7ea;
  overflow-x: hidden;
  padding-top: 20px;
    margin-top: 0px;

}

#nav li{
}
#nav li a {
  display: block;
  color: #FFFFFF;
  padding: 8px 16px;
  text-decoration: none;
}

#nav li a:hover {
  background-color: grey;
  color: white;
}
body{
  margin-left: 170px;
  margin-top: 70px;
}
  .heading{
    font-size: small;
    text-align:bottom;
    font-size:18px;
    position: fixed;
    left:0; 
  }

.footer{
  font-size: 10px;
  width :100%;

}
.title{
  margin-top: 80px;
}
    .main {
        background-color: #e0ffff;
        width: 300px;
        height: 500px;
        margin: 7em auto;
        border-radius: 1.5em;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    }

}