<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/css/style Assignments.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<title>CSCB20</title>
</head>
<body>
<div class="heading">CSCB20 - Introduction to Databases and Web Applications</div>
<ul id = nav>
  <li><a href="index.html"target="_blank">Home</a></li>
  <li><a href="calender.html"target="_blank">Calendar</a></li>
  <li><a href="https://piazza.com/class/jr7mjhytaij3jc"target="_blank">Discussion Board</a></li>
  <li><a href="http://markus.utsc.utoronto.ca/cscb20w19"target="_blank">MarkUs</a></li>
  <li><a href="lectures.html"target="_blank">Lectures</a></li>
  <li><a href="labs.html"target="_blank">Labs</a></li>
  <li><a href="Assignments.html"target="_blank">Assignments</a></li>
  <li><a href="test.html"target="_blank">Tests</a></li>
  <li><a href="Resources.html"target="_blank">Resources</a></li>
  <li><a href="Feedback.html"target="_blank">Feedback</a></li>
</ul>
<div class ="title"><p><b><i><font size="+2">Assignments</font></b></i></p></div>
<div class="row">
  <div class="column 1">
<p>
<b>Assignment 1:</b> Due date: February 3rd @11:59pm   <a href="https://www.utsc.utoronto.ca/~bretscher/b20/assignments/a1/"target="_blank">Assignment 1 Handout</a>

<p>The topic for assignment 1 will be based on Relational Algebra and MySQL futher details are provided in Handout</p>
  </div>
  <div class="column 2">
<p><b>Assignment 2:</b>  Due date: March 11th @11:59pm   <a href="http://mathlab.utsc.utoronto.ca/courses/cscb20w17/bretsche/assignments/a2/a2.html"target="_blank">Assignment 2 Handout</a>
</p>
  </div>
  <div class="column 3">
<p><b>Assignment 3:</b>  Due date: March 27th @11:59pm   <a href="http://www.utsc.utoronto.ca/bretscher/b20/assignments/a3/a3_marking_scheme.txt"target="_blank">Assignment 3 Handout</a>
</p>
  </div>
 <div class="footer">
  <p>Feel free to visit the <a href="http://web.cs.toronto.edu/people/faculty.htm"target="_blank">Faculty of Computer Science at UofT</a></p>
  <p>This site was created by <b>Adham Farag</b> and <b>Aaiyan Virji</b></p>
</div>
</body>
</html>