<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>FeedBack</title>
  <meta name="description" content="Welcome to our FeedBack page">
  <meta name="author" content="SitePoint">
<link rel="stylesheet" type="text/css" href="static/css/style Feedback.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
  <div class="heading">CSCB20 - Introduction to Databases and Web Applications</div>
<ul id = nav>
  <li><a href="index.html"target="_blank">Home</a></li>
  <li><a href="calender.html"target="_blank">Calendar</a></li>
  <li><a href="https://piazza.com/class/jr7mjhytaij3jc"target="_blank">Discussion Board</a></li>
  <li><a href="http://markus.utsc.utoronto.ca/cscb20w19"target="_blank">MarkUs</a></li>
  <li><a href="lectures.html"target="_blank">Lectures</a></li>
  <li><a href="labs.html"target="_blank">Labs</a></li>
  <li><a href="Assignments.html"target="_blank">Assignments</a></li>
  <li><a href="test.html"target="_blank">Tests</a></li>
  <li><a href="Resources.html"target="_blank">Resources</a></li>
  <li><a href="Feedback.html"target="_blank">Feedback</a></li>
</ul>
<footer class="py-5 bg-dark">
        <div class="container">
        </div>
      </footer>
      <!-- Feedback Non Responsive yet -->
      <h2 class="title">Student Feedback // Ideas to improve the course</h2>
      
      <form method="post" action="//submit.form" >
          <div style="width: 400px;">
          </div>
          <div style="padding-bottom: 16px;font-size : 14px;">The following forum is used for educational purposes along with keeping your information confidential.</div>
          <div style="padding-bottom: 16px;font-size : 14px;">Please use this forum to help communicate your issues along with improving this course.</div>
          <div style="display: flex; padding-bottom: 14px;width : 500px;">
          <div style=" margin-left : 0; margin-right : 1%; width : 49%;">Instructor sir_name<br/>
          <input type="text" id="data_3" name="data_3" style="width: 100%;" class="form-control"/>
          </div>
          <div style=" margin-left : 1%; margin-right : 0; width : 49%;">Instructor last_name<br/>
          <input type="text" id="data_4" name="data_4" style="width: 100%;" class="form-control"/>
          </div>
          <div style=" margin-left : 1%; margin-right : 0; width : 49%;">Year Taken<br/>
          <input type="text" id="data_6" name="data_6" style="width: 100%;" class="form-control"/>
          </div>
          </div><div style="padding-bottom: 18px;">What made you take CSCB20<br/>
          <select id="data_7" name="data_7" style="width : 500px;" class="form-control"><option>Degree requirement/POSts requirement</option>
          <option>Personal interest</option><option>For fun</option><option>Professional development</option>
          </select>
          </div>
          <div style="padding-bottom: 18px;">Level of understanding of <i>Computer Science</i> prior to taking this course<br/>
          <select id="data_9" name="data_9" style="width : 500px;" class="form-control"><option>Strong understanding</option>
          <option>Good</option>
          <option>Sufficent understandings</option>
          <option>Very minimal understanding</option>
          <option>Very poor understanding</option>
          </select>
          </div>
          <div style="padding-bottom: 18px;">How well did you understand the Lecture sections<br/>
          <select id="data_10" name="data_10" style="width : 500px;" class="form-control"><option>Strong understanding</option>
              <option>Good</option>
              <option>Sufficent understandings</option>
              <option>Very minimal understanding</option>
              <option>Very poor understanding</option>
          </select>
          </div>
          <div style="padding-bottom: 18px;">Level of knowledge at the end of the course<br/>
          <select id="data_11" name="data_11" style="width : 500px;" class="form-control"><option>Strong understanding</option>
              <option>Good</option>
              <option>Sufficent understandings</option>
              <option>Very minimal understanding</option>
              <option>Very poor understanding</option>
          </select>
          </div>
          <div style="padding-bottom: 18px;">Level of understanding for lectures<br/>
          <select id="data_12" name="data_12" style="width : 500px;" class="form-control"><option>Strong understanding</option>
              <option>Good</option>
              <option>Sufficent understandings</option>
              <option>Very minimal understanding</option>
              <option>Very poor understanding</option>
          </select>
          </div>
          <div style="padding-bottom: 18px;">Would you recommend this course to other students?<br/>
          <select id="data_8" name="data_8" style="width : 500px;" class="form-control"><option>Yes</option>
          <option>No</option>
          <option>Not sure</option><option>Debtable</option>
          </select>
          </div>
          <div style="padding-bottom: 18px;"><input name="skip_Submit" value="Submit" type="submit"/></div>
          <div>
          <div style="float:right"><a href="https://outlook.office.com/owa/?realm=mail.utoronto.ca" id="lnk100" title="form to email"target="_blank">form to email</a></div>
          </div> 
          </form>
</body>
<footer class="footer">
  Feel free to visit the <a href="http://web.cs.toronto.edu/people/faculty.htm"target="_blank">Faculty of Computer Science at UofT</a>
  <p>This site was created by <b>Adham Farag</b> and <b>Aaiyan Virji</b></p>
</footer>
</html>