<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="static/css/style login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<title>CSCB20</title>
</head>

<body>
	<div class="heading"><p>CSCB20 - Introduction to Databases and Web Applications</p></div>
 
  <div class="main">
    <p class="sign" align="center">Sign in</p>
    <form class="form" method="post" action="/login">
      <input class="username" type="text" align="center" placeholder="Username" name=username>
      <input class="password" type="password" align="center" placeholder="Password" name=password>
      <button class ="submitInstructor" type="submit" formaction="/login">LogIn</button>
      <button class ="submitInstructor" type="submit" formaction="/signup">SignUp</button>
    </div>

       <div class="footer">
  <p>Feel free to visit the <a href="http://web.cs.toronto.edu/people/faculty.htm"target="_blank">Faculty of Computer Science at UofT</a></p>
  <p>This site was created by <b>Adham Farag</b> and <b>Aaiyan Virji</b></p>
</div>
</body>
</html>